.bg-black {
    background-color: #000;
}
.bg-white {
    background-color: #fff;
}
.absolute {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.relative {
    position: relative;
}

.btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.btn-primary {
    color: #fff !important;
    background-color: #409eff;
    border-color: #409eff;
}
.btn--small {
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.main {
    margin-top:2rem;
    .wrapper {
        width: 80%;
        margin: 0 auto;
        .banner {
            margin: 40px auto;
            img {
                width: 100%;
            }
        }
        .content {
            color: #fff;
            .explain {
                font-size: 15px;
            }
            .form-wrap {
                width: 100%;
                display: flex;
                margin-top: 50px;
                align-items: center;
                .label {
                    width: 100px;
                    font-size: 15px;
                }
                .input-wrap {
                    width: 100%;
                    box-sizing: border-box;
                    position: relative;
                    input {
                        width: 100%;
                        padding: 10px 0;
                    }
                    button {
                        position: absolute;
                        top: 6px;
                        right: .3rem;
                    }
                }
            }
            
        }
        .action {
            width: 100%;
            position: absolute;
            bottom: 1rem;
            .btn {
                display: block !important;
                margin: 20px auto;
            }
        }  
    }
}


